<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1><%= @user.loginname %></h1>
            <ul class="user_profile">
                <li><%= @user.name %></li>
                <li><%= @user.birthdate_formatted %></li>
                <li><%= @user.email %></li>
            </ul>
        </section>
    </aside>
</div>
