<h1>YB Jump'n'Run</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
Herzlich Willkommen bei der Anmeldung zum YB Jump'n'Run
<% if !@user.activated? %>
Klicke auf den untenstehenden Link zur Bestätigung Deiner Anmeldung:
<% else %>
Wir haben Deine Anmeldung erhalten.
<% end %>
</p>
<% if !@user.activated? %>
<%= link_to "Anmeldung bestätigen", edit_account_activation_url(@user.activation_token,
                                                    loginname: @user.loginname) %>
<% end %>

<p>
YB Forever
</p>