<h1>Passwort zurücksetzen</h1>

<p>Um Dein Passwort zurückzusetzen klick auf den folgenden Link:</p>

<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token,
                                                      loginname: @user.loginname) %>

<p>Dieser Link wird in 2 Stunden nicht mehr gültig sein.</p>

<p>
Wenn Du kein Zurücksetzen des Passworts verlangt hast, bitte ignoriere einfach diese E-Mail und Dein Passwort bleibt wie es war.
</p>